*{
    margin:0px;
    padding:0px;
}
body{
    height:100%;
    background-color:#464655;
}
h1{
    color:#94958b;
    font-size: 100px;
    text-align: center;
}
.main{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    background-color:#b7b6c1;
    border: 5px solid #d5cfe1;
    border-radius: 20px;
    font-size:75px;
    color:black;
}
#reset{
    margin-top: 10px;
    height: 70px;
    width:300px;
    margin-left: 620px;
    border-radius: 10px;
    background-color:#94958b;
    border: 5px solid #d5cfe1;
    font-size: 25px;
    cursor:pointer;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
#msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }